<script type="module" src="{{'loading-screen.js' |  asset_url}}" defer="defer"></script>

<loading-screen>
  <div class="loading-screen__inner">
    <div class="loading-screen__logo" data-loader-logo>
      <svg viewBox="0 0 194.6 185.1">
        <polygon fill="#FFD41D" points="97.3,0 127.4,60.9 194.6,70.7 145.9,118.1 157.4,185.1 97.3,153.5 37.2,185.1 48.6,118.1 0,70.7
            67.2,60.9">

            <animate id="animation-to-check"  attributeName="points" dur="500ms" to="110,58.2 147.3,0 192.1,29 141.7,105.1 118.7,139.8 88.8,185.1 46.1,156.5 0,125 23.5,86.6
            71.1,116.7"/>

            <animate id="animation-to-star"  attributeName="points" dur="500ms" to="97.3,0 127.4,60.9 194.6,70.7 145.9,118.1 157.4,185.1 97.3,153.5 37.2,185.1 48.6,118.1 0,70.7
            67.2,60.9"/>


        </polygon>
      </svg>

      {% comment %}
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 625.4 577.5">
          <path d="M193.3,12.9c11.6,1.4,18.4,10,25.6,17.6,10.7,11.1,23.1,19.3,37.8,24.3,13.5,4.6,26.5,10.6,40.1,15,20.5,6.6,30.6,20.8,33.6,41.5,1.9,13.1,4.4,26.2,6.9,39.2,2.3,11.6,7.5,15.4,19.2,14.6,13.4-.8,25.3-6.4,37.3-11.7,12.9-5.6,25.6-12.7,39.2-15.5,30.7-6.3,59.8-.9,85.1,19,10.1,8,16.1,18.9,15.9,31.5-.5,30.2,8.7,57.8,19.6,85.3,6.3,15.8,11.7,32.1,15.9,48.6,3.7,14.8,3.1,30.1-2.7,44.6-5.8,14.4-18.2,20.6-31.8,24.9-30.2,9.6-60.2,8.1-90-2.2-9-3.1-18.6-4.9-27.9-7.3-3.1-.8-4.4,0-4.9,3.4-3,18.3.1,36.1,3.5,53.9,3.1,16,6.5,32,7.7,48.1,2.1,26.3-5,50.6-22.4,70.9-12.2,14.2-29.6,21-49.4,10.6-16.1-8.5-33.5-12.6-50.7-17.4-30.5-8.5-57.3-23.7-80.6-45.1-7.4-6.8-9.2-15.7-11.2-24.9-4.9-23.1,2.8-41.8,18.6-58.1,9.7-10.1,19.3-20.2,28.6-30.7,6.5-7.3,11-15.8,13.2-25.4,2.2-9.4-.6-15-9.9-18.1-13.1-4.4-26.2-2.9-38.6,2-23.7,9.4-47.1,19.9-70.6,29.8-10.2,4.3-20.4,8.8-32,8.5-11.1-.2-19.3-5.3-25.3-14.3-8.4-12.7-11.7-27.2-12.8-42-2.5-34.3,8-64.8,30.8-90.5,6.4-7.3,14.5-13.3,22.4-18.9,12.6-8.9,15.4-16.4,9.5-30.6-1.6-3.8-3.6-7.5-5.7-11.1-10-17-19.4-34.4-22.3-54-3-20.6-.9-41.2,6.7-60.8,3.4-8.8,9.8-15.4,17.2-21,10.5-8.2,21-16.4,31.6-24.5,6.4-4.9,13.6-8.1,21.6-9.3h1ZM222.5,467.8c-2.5,18.1,5.6,32.4,20.6,45.2,19.1,16.4,39.7,28.9,64.2,34.7,14.5,3.4,29.1,6.7,43.5,10.7,16.1,4.6,29.6.7,40.2-11.8,5-5.9,9.2-12.7,12.5-19.7,13.4-28.7,13-58.6,6.3-88.8-3.4-15.5-5-31.2-4.4-47.1.4-11.4,4.7-15.7,15.9-14.1,7.3,1,14.7,3,21.5,5.8,20.4,8.2,41.4,12.4,63.4,9.1,14.6-2.2,28.7-5.6,40.9-14.6,6.2-4.6,10.4-10.8,10.3-18.5,0-13.1-1.3-26.2-1.5-39.3-.1-9.2-3.7-16.9-7.5-25-4.1-8.6-7.2-17.9-9.5-27.1-1.7-7.2-1.1-14.9-2.2-22.3-2.1-14.1-5.4-28-6.8-42.2-1.8-18.1-11-30.6-26.1-39.5-10.6-6.3-22-11.1-34.2-13.1-15.8-2.6-31.4-3.4-46.2,4.7-5.1,2.8-10.7,4.6-16,6.8-17.7,7.1-35.7,12.3-55.2,10.4-10.7-1-17.4-6.5-18.6-17.2-2.3-19.2-6.3-37.9-14-55.8-3.7-8.6-9.3-13.5-18.6-15.2-18.1-3.4-35-10.4-51.2-18.8-4.2-2.2-7.5-6.3-10.8-9.8-3.1-3.3-5.5-7.3-8.7-10.5-7.8-7.8-17.4-13.6-24.2-22.8-3.4-4.6-9.6-8.4-16.7-6.7-11.5,2.7-20.5,9.4-28,18.1-6.5,7.5-12.4,15.5-18.8,23.2-10.2,12.3-15.5,26.2-14.7,42.3.7,14,4,27.5,9,40.7,6.7,17.7,14.2,35.1,16.4,54.2,1.5,12.6-1.2,23.7-10.4,32.4-6.7,6.2-13.8,12-21.4,17.2-9.9,6.8-16.8,15.4-20,27-2.7,10.1-5.3,20.2-8.6,30.2-5.7,17.4-3.2,34.2,3.8,50.5,6.5,15.4,18,23.7,35.2,24.1,13,.3,25.6-1.4,37.5-6.5,17.1-7.3,34.2-14.7,50.9-22.7,13.9-6.7,27.6-8.2,42.4-3.7,10.7,3.3,14.8,7.7,13.8,19-.4,4.4-1.6,8.8-3,13.1-7.4,23.1-18.5,44-36.9,60.2-9.9,8.7-15.5,18.6-13.9,33.6ZM324.4,255c3.3,7.3,9.7,8.9,16.8,8.9,12.9,0,25,1.8,34.4,12.2,5,5.5,11.1,10.1,17.4,15.6-7.2,3.1-13.4,3.3-19.3.7-5.7-2.5-11.3-3.1-17.4-1.8-7,1.5-12.7-.9-17.4-6.7-2.2-2.6-6-4-9.3-5.6-3.2-1.7-4.9-4-5-7.7,0-1.6-.6-3.4-1.6-4.6-3.3-4.1-2.9-7.7,1.4-11.1ZM386.4,290.5c.1-.4.3-.8.4-1.2-4.6-3-9.9-5.2-13.5-9.1-7.8-8.3-17.1-11.7-28-11.9-2,0-4-.6-5.9-.6-1.3,0-2.6.5-3.9.7.7,1.2,1.1,3.1,2.1,3.5,4.1,1.8,8.3,3.2,12.5,4.8,6.3,2.4,12.6,4.7,18.9,7.1,5.8,2.2,11.6,4.4,17.5,6.7Z"/>
        </svg>
      {% endcomment %}
    </div>
  </div>
</loading-screen>

<style>
  loading-screen {
    background-color: rgb(var(--color-base-background-1));
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  loading-screen.is-loaded {
  }

  .loading-screen__logo {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
</style>
