{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'template-blog.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="blog-posts-header">
    <div class="blog-posts-header__inner ">
      <h1 class="blog-posts-header__heading">
        {{ blog.title }}
      </h1>
      <span class="blog-posts-header__subline"> Ajornada </span>
    </div>
  </div>
</div>

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width  section-{{ section.id }}-padding">
    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        {%- render 'article-card',
          article: article,
          media_height: section.settings.image_height,
          media_aspect_ratio: article.image.aspect_ratio,
          show_image: section.settings.show_image,
          show_date: section.settings.show_date,
          show_author: section.settings.show_author,
          show_excerpt: false
        -%}
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "Main Blog Home",
  "tag": "section",
  "class": "section",
  "templates": ["blog"],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "blog_preview",
      "settings": [
        {
          "type": "blog",
          "id": "blog",
          "label": "Blog Preview Source"
        }
      ]
    }
  ]
}
{% endschema %}
