.modal {
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.modal[aria-hidden="true"] {
    pointer-events: none;
}

.modal[aria-hidden="true"] .modal__inner {
    animation: slide-down .2s ease-in-out forwards;
}

.modal[aria-hidden="false"] .modal__inner {
    animation: slide-up .2s ease-in-out forwards;
}

.modal[aria-hidden="true"] .modal__cover {
    opacity: 0;
}

.modal[aria-hidden="false"] .modal__cover {
    opacity: 1;
}


@keyframes slide-up {
    0% {
        transform: translateY(100%)
    }

    100% {
        transform: translateY(0)
    }
}


@keyframes slide-down {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(100%)
    }
}

.modal__cover {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.419);
    top: 0;
    left: 0;
    z-index: 0;
    transition: all .2s ease-in-out;
}

.modal__inner {
    overflow: auto;
    min-height: 60vh;
    position: relative;
    width: 100%;
    padding: var(--level5);
    padding-top: var(--level2);
    padding-bottom: var(--level6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid rgb(var(--color-base-text-1));
    background-color: rgb(var(--color-base-background-1));
    z-index: 1;
}

.modal__close {
    margin-bottom: 2rem;
    display: flex;
}

.modal__close button {
    background: transparent;
    outline: none;
    border: 0;
    color: rgb(var(--color-base-background-2));
    position: relative;
    display: inline-block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--level1);
    font-size: var(--micro);
    padding-left: 0;
    padding-right: 0;
}

.modal__close .button__decorative-elem {
    content: " ";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -.5rem;
    left: 0;
    background-color: rgb(var(--color-base-background-2));
}

.modal__content {
    max-height: 66vh;
    overflow: auto;
}