/*------------------------------------*\
    #Article Card
\*------------------------------------*/


@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}


.article-card {
  width: 100%;
}

.article-card__image {
  padding-bottom: 140%;
  border-radius: 30px;
  width: 100%;
  position: relative;
  margin-bottom: var(--level5);
  overflow: hidden;
  position: relative;
}


.article-card__image-wrapper>a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading {
  margin-bottom: 0.6rem;
}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-card__info {
  padding-top: 0.4rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
  margin-top: 1.2rem;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}


.article-card__image,
.article-card__image {
  border: 2px solid rgb(var(--color-base-text-2));

}

.article-card__image-wrapper:hover .article-card__image,
.article-card__image-wrapper:focus .article-card__image {
  border: 2px solid black;
}



/*------------------------------------*\
    #Information
\*------------------------------------*/


.article-card__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-base-text));
  text-decoration: none;
  margin-bottom: var(--level10)
}

.article-card__information:hover .article-card__heading,
.article-card__information:focus .article-card__heading {
  border-bottom: 2px solid black;
}

.article-card__heading {
  text-transform: capitalize;
  font-size: var(--h3);
  padding-right: var(--level1);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--level1);
  border-bottom: 2px solid transparent;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 700px) {
  .article-card__heading {
    font-size: var(--h4);
  }
}

@media only screen and (min-width: 940px) {
  .article-card__heading {
    font-size: var(--h3);
  }
}



.article-card__price {
  text-transform: capitalize;
  font-size: var(--h4);
}

@media only screen and (min-width: 700px) {
  .article-card__price {
    font-size: var(--h5);
  }
}




.article-card__date-published {
  text-align: center;
  width: 100%;
}


@media screen and (min-width: 700px) {
  .blog-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .blog-articles .article-card {
    flex-basis: calc(50% - 3rem);
  }
}


@media screen and (min-width: 970px) {
  .blog-articles .article-card {
    flex-basis: calc(33.3% - 5.5%);
  }
}