
/*------------------------------------*\
    #Header
\*------------------------------------*/

.header-wrapper {
    display: block;
    position: relative;
    background-color: rgb(var(--color-base-background-1));
}

.header-wrapper--border-bottom {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.header__inner {
    display: grid;
    grid-template-areas: 'left-icons heading icons';
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-top: var(--level1); 
    padding-bottom: var(--level1); 
}


@media screen and (min-width: 940px) {
    .header__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 0; 
        padding-bottom: 0;
    }
}

.header *[tabindex='-1']:focus {
    outline: none;
}

.header__heading {
    margin: 0;
    line-height: 0;
}


@media screen and (min-width: 940px) {
    .header__heading {
        left: 0; 
        right: 0; 
        margin: auto; 
        position: absolute;
        width: 10rem;
    }
}

.header__heading,
.header__heading-link {
    grid-area: heading;
    justify-self: center;
}

.header__heading-link {
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    word-break: break-word;
}

.header__heading-logo {
    height: auto;
    max-width: 100%;
}

.header__heading-logo-wrapper {
    width: 100%;
    display: inline-block;
    transition: width 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
    width: 9rem;
    height: 3rem;
}

@media screen and (min-width: 940px ) {
    .header__heading-logo-wrapper {
        width: 10rem;
    }
}

.header__heading-logo-wrapper svg {
    width: 100%; 
    height: 100%; 
}

.header__heading,
.header__heading-link {
    justify-self: center;
}




/*------------------------------------*\
    #Icons
\*------------------------------------*/

.header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: var(--level1); 
}

@media screen and (min-width: 940px) {
    .header__icons {
        padding-right: 0; 
    }
}

.header__icons .shopify-app-block {
    max-width: 4.4rem;
    max-height: 4.4rem;
    overflow: hidden;
}

.header__icon:not(.header__icon--cart),
.header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon {
    color: rgb(var(--color-base-text-3));
}

.header__icon span {
    height: 100%;
}

.header__icon::after {
    content: none;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
    transform: scale(1.07);
}

.header__icon .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
}

.header__icon,
.header__icon--cart .icon {
    height: 4.4rem;
    width: 4.4rem;
    padding: 0;
}

.header__icon--cart {
    position: relative;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

@media screen and (min-width: 700px) {
    .header__icon--cart {
        justify-content: center;
    }
}

.cart-count-bubble {
    position: absolute;
    right: 0; 
    border-radius: 100%; 
    background: rgb(var(--color-base-accent));
    color: rgb(var(--color-base-text-1)); 
    font-size: var(--h6); 
    width: 1.35rem;
    height: 1.35rem;
    top: .75rem;
    line-height: 1;
}

@media screen and (min-width: 940px) {
    .cart-count-bubble {
        font-size: var(--normal);
        width: 1.25rem;
        height: 1.25rem;
        right: var(--level0); 
    }
}

.header__icon--menu[aria-expanded='true']::before {
    content: '';
    top: 100%;
    left: 0;
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    width: 100%;
    display: block;
    position: absolute;
    background: rgba(var(--color-foreground), 0.5);
}




/*------------------------------------*\
    #Menu Drawer
\*------------------------------------*/


.header__icon--menu .icon {
    display: block;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: transform 150ms ease, opacity 150ms ease;
}

details:not([open]) > .header__icon--menu .icon-close,
details[open] > .header__icon--menu .icon-hamburger {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
    visibility: hidden;
}

.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
    visibility: visible;
    opacity: 1;
    transform: scale(1.07);
}

.js details > .header__submenu {
    opacity: 0;
    transform: translateY(-1.5rem);
}

details[open] > .header__submenu {
    animation: animateMenuOpen var(--duration-default) ease;
    animation-fill-mode: forwards;
    z-index: 1;
}

@media (prefers-reduced-motion) {
details[open] > .header__submenu {
    opacity: 1;
    transform: translateY(0);
}
}





/*------------------------------------*\
    #Inline Menu
\*------------------------------------*/

.header__inline-menu {
    grid-area: navigation;
    display: none;
}

.header--top-center .header__inline-menu,
.header--top-center .header__heading-link {
margin-left: 0;
}

@media screen and (min-width: 940px) {
.header__inline-menu {
    display: block;
}

.header--top-center .header__inline-menu {
    justify-self: center;
}

.header--top-center .header__inline-menu > .list-menu--inline {
    justify-content: center;
}

.header--middle-left .header__inline-menu {
    margin-left: 0;
}
}

.header__menu {
padding: 0 1rem;
}


.header__menu-item {
    padding: 0;
    text-decoration: none;
    color: rgba(var(--color-foreground), 0.75);
    margin-bottom: 0;
}

@media screen and (min-width: 940px) {
    .list-menu .header__menu-item:last-child {
        margin-right: 0; 
    }
    
    .header__menu-item {
        margin-right: var(--level9); 
    }
}

.header__menu-link {
    color: rgb(var(--color-base-text-3)); 
    text-transform: uppercase;
    font-family: var(--secondary-font-family); 
    font-size: var(--h3);
    text-decoration: none;
    font-weight: bold;
}

.header__menu-link:hover, 
.header__menu-link:focus,
.header__menu-link:hover:after, 
.header__menu-link:focus:after {
    text-decoration: none;
    opacity: 1;
}

@media screen and (min-width: 940px) {
    .header__menu-link {
        font-size: var(--h4);
        padding-top: var(--level6); 
        padding-bottom: var(--level5); 
        padding-left: var(--level2); 
        padding-right: var(--level2); 
        display: block;
    }
}

@media screen and (min-width: 940px) {
    .header__menu-link:after {
        content: " "; 
        position: absolute;
        bottom: 0; 
        width: 100%; 
        left: 0;
        height: 5px; 
        border-top-right-radius: 10px; 
        border-top-left-radius: 10px; 
        background-color: rgb(var(--color-base-accent));
        opacity: 0;
        transition: all .2s ease-in-out;
    }
}





/*------------------------------------*\
    #Dropdowns
\*------------------------------------*/


details[open] > .header__menu-item {
text-decoration: underline;
}

details[open]:hover > .header__menu-item {
text-decoration-thickness: 0.2rem;
}

details[open] > .header__menu-item .icon-caret {
transform: rotate(180deg);
}

.header__active-menu-item {
transition: text-decoration-thickness var(--duration-short) ease;
color: rgb(var(--color-foreground));
text-underline-offset: 0.3rem;
}

.header__menu-item:hover .header__active-menu-item {
text-decoration-thickness: 0.2rem;
}

.header__submenu {
transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
}

.global-settings-popup,
.header__submenu.global-settings-popup {
border-radius: var(--popup-corner-radius);
border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
border-style: solid;
border-width: var(--popup-border-width);
box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
z-index: -1;
}

.header__submenu.list-menu {
padding: 1rem 0;
}

.header__submenu .header__submenu {
background-color: rgba(var(--color-foreground), 0.03);
padding: 1rem 0;
margin: 1rem 0;
}

.header__submenu .header__menu-item:after {
right: 2rem;
}

.header__submenu .header__menu-item {
justify-content: space-between;
padding: 0.8rem 2rem;
}

.header__submenu .header__menu-item:hover {
text-decoration-line: underline;
}

.header__menu-item .icon-caret {
right: 0.8rem;
}

.header__submenu .icon-caret {
flex-shrink: 0;
margin-left: 1rem;
position: static;
}

header-menu > details,
details-disclosure > details {
position: relative;
}

@keyframes animateMenuOpen {
0% {
    opacity: 0;
    transform: translateY(-1.5rem);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}


header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
}

@media screen and (min-width: 940px) {
   header-drawer {
        display: none;
    }
}

.menu-drawer-container {
display: flex;
}

.list-menu {
list-style: none;
padding: 0;
margin: 0;
}

.list-menu--inline {
display: inline-flex;
flex-wrap: wrap;
}

.list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.35;
}




/* section-header */
.section-header.shopify-section-group-header-group {
    z-index: 3;
  }
  
  .shopify-section-header-sticky {
    position: sticky;
    top: 0;
  }
  
  .shopify-section-header-hidden {
    top: calc(-1 * var(--header-height));
  }
  
  .shopify-section-header-hidden.menu-open {
    top: 0;
  }
  
  .section-header.animate {
    transition: top 0.15s ease-out;
  }
  
  .shopify-section-group-header-group {
    z-index: 4;
  }
  
  .section-header ~ .shopify-section-group-header-group {
    z-index: initial;
  }
  
  
  /* Search */
  menu-drawer + .header__search {
    display: none;
  }
  
  .header > .header__search {
    grid-area: left-icons;
    justify-self: start;
  }
  
  .header--top-center.drawer-menu > .header__search {
    margin-left: 3.2rem;
  }
  
  .header--top-center header-drawer {
    grid-area: left-icons;
  }
  
  .header:not(.header--has-menu) * > .header__search {
    display: none;
  }
  
  .header__search {
    display: inline-flex;
    line-height: 0;
  }
  
  .header--top-center > .header__search {
    display: none;
  }
  
  .header--top-center * > .header__search {
    display: inline-flex;
  }
  
  @media screen and (min-width: 990px) {
    .header:not(.header--top-center) * > .header__search,
    .header--top-center > .header__search {
      display: inline-flex;
    }
  
    .header:not(.header--top-center) > .header__search,
    .header--top-center * > .header__search {
      display: none;
    }
  }
  
  
  details[open] .modal-overlay {
    display: block;
  }
  
  details[open] .modal-overlay::after {
    position: absolute;
    content: '';
    background-color: rgb(var(--color-foreground), 0.5);
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
  }
  