/*------------------------------------*\
    #Recipes Featured
\*------------------------------------*/


.recipes-featured-section {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(var(--color-base-background-1));
}

.recipes-featured-section.has-top-border {
    border-top: 2px solid black;
}

.recipes-featured-section.has-bottom-border {
    border-bottom: 2px solid black;
}


.recipes-featured__inner {
    padding-top: var(--level10);
    padding-bottom: var(--level10);
}

@media screen and (min-width:700px) {
    .recipes-featured__inner {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:940px) {
    .recipes-featured__inner {
        padding-top: calc(var(--level10) + var(--level8));
        padding-bottom: calc(var(--level10) + var(--level8));
    }
}



/*------------------------------------*\
    #Header
\*------------------------------------*/


.recipes-featured-header {
    padding-bottom: 0;
    margin-bottom: var(--level6);
    display: flex;
}

@media screen and (min-width: 940px) {
    .recipes-featured-header {
        margin-bottom: var(--level10);
    }
}


.recipes-featured-header__inner {
    position: relative;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    z-index: 1;
    flex-basis: content;
}


.recipes-featured-header__heading {
    font-family: var(--tertiary-font-family);
    font-size: var(--h2);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
    background: rgb(var(--color-base-background-1));
    position: relative;
    z-index: 1;
    padding-right: var(--level4);
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width:700px) {
    .recipes-featured-header__heading {
        font-size: var(--h2);
    }
}

@media screen and (min-width:940px) {
    .recipes-featured-header__heading {
        font-size: var(--h1);
    }
}

.recipes-featured-header__subline {
    text-transform: uppercase;
    margin-bottom: 0;
    width: auto;
    padding-left: var(--level4);
    text-align: right;
    background: rgb(var(--color-base-background-1));
    position: static;
    font-size: var(--normal);
    display: flex;
    align-items: center;
    margin-left: var(--level10);
}

@media screen and (min-width:940px) {
    .recipes-featured-header__subline {
        font-size: var(--h5);
        margin-left: calc(var(--level10) + var(--level10));
    }
}

.recipes-featured-header__subline:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--color-base-background-3));
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: -1;
    top: 5%;
}


.recipes-featured__cta {
    text-align: center;
    font-size: var(--text-micro);
}


@media screen and (min-width:940px) {
    .recipes-featured__cta {
        text-align: center;
        font-size: var(--h4);
    }
}

.recipes-featured__cta a:hover,
.recipes-featured__cta a:focus {
    background: #F9EFB2;
}





/*------------------------------------*\
    #Recipe Cards
\*------------------------------------*/

.recipes-featured__card-list {
    width: 100%;
    padding-left: var(--level5);
    margin-bottom: var(--level5);
}

@media screen and (min-width:940px) {
    .recipes-featured__card-list {
        max-width: 115rem;
        margin-right: auto;
        margin-left: auto;
        padding-left: var(--level10)
    }
}

@media screen and (min-width:1280px) {
    .recipes-featured__card-list {
        max-width: 120rem;
    }
}

[data-flip-trigger]:hover {
    cursor: pointer;
}

.recipes-featured__card-list .swiper-slide {
    width: 95%;
    max-width: 25rem;
}

@media screen and (min-width:940px) {
    .recipes-featured__card-list .swiper-slide {
        width: 75%;
        max-width: 23rem;
    }
}

.recipes-featured__card-list .swiper-pagination-bullet {
    background-color: #F9EFB2;
    border: 1px solid #000000;
    opacity: 1;
}

.recipes-featured__card-list .swiper-pagination-bullet-active {
    background-color: rgb(var(--color-base-background-2));
}


.recipe-card {
    text-decoration: none;
    margin-bottom: var(--level9);
}

.recipe-card:hover .flip-indicator, 
.recipe-card:focus  .flip-indicator {
 transform: rotate(-360deg); 
}

.recipe-card a {
    text-decoration: none;
}

.recipe-card__inner {
    text-decoration: none;
}


.recipe-card__flip-card__inner.is-active {
    transform: rotateY(180deg);
}


.recipe-card__flip-card {
    perspective: 2000px;
    margin-bottom: var(--level3);
}

@media screen and (min-width:940px) {
    .recipe-card__flip-card {
        margin-bottom: var(--level6);
    }
}

.recipe-card__flip-card__inner {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.recipe-card__front,
.recipe-card__back {
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}


.recipe-card__back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-color: green;
    border-radius: 20px;
}


.recipe-card__back__content {
    z-index: 1;
    position: relative;
    padding: var(--level7);
    color: rgb(var(--color-base-text-2));
    height: 100%;
}

@media screen and (min-width:940px) {
    .recipe-card__back__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: var(--level10);
        padding-top: var(--level2);
    }
}

.recipe-card__back__heading {
    font-size: var(--h3);
    position: relative;
    display: inline-block;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}


.recipe-card__back__heading:after {
    content: ' ';
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -.25rem;
    left: 0;
}

.recipe-card__back__body {
    font-size: var(--level4);
}

.recipe-card__back__cta {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: var(--level3);
    padding-right: var(--level3);
    padding-bottom: var(--level10);
    text-align: center;
    text-transform: uppercase;
}

.recipe-card__back__cta a {
    text-decoration: underline;
    color: rgb(var(--color-base-text-2));
    font-size: var(--h5);
}

.recipe-card__back__cta a:focus,
.recipe-card__back__cta a:hover {
    text-decoration: none;
}

.recipe-card__image-container {
    position: relative;
}

.recipe-card__image {
    position: relative;
    padding-bottom: 155%;
    overflow: hidden
}

@media screen and (min-width:940px) {
    .recipe-card__image {
        position: relative;
        padding-bottom: 160%;
        overflow: hidden
    }
}


.recipe-card__recipe-name {
    text-align: center;
    font-size: var(--h3);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width:940px) {
    .recipe-card__recipe-name {
        font-size: var(--h2);
    }
}

.flip-indicator {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    transition: all .2s ease-in-out; 
}